@font-face {
    font-family: 'LemonMilk';
    src: url('LEMONMILK-Regular.otf');
}

@font-face {
    font-family: 'Byom Icons';
    src: url('Byom-Icons-Trial.ttf');
}

.button{
    -fx-background-color: #73574c;
    -fx-text-fill: #ffd8bb;
    -fx-font-size: 21px;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-font-family: 'LEMON MILK';
    -fx-text-alignment: CENTER-LEFT;
}
.root .table-view{
    -fx-control-inner-background: transparent;
}

.tooltip{
-fx-font-size: 12px;
-fx-font-family: 'LEMON MILK';
}

.table-cell {
    -fx-alignment: CENTER;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-weight: NORMAL;
    -fx-font-family: 'LEMON MILK';
}

.root{
    -fx-background-color: transparent;
}

.table-view{
   -fx-background-color: transparent;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-cell-background-color: transparent;
}
.table-view .table-cell{
    -fx-background-color: transparent;
}
.table-row-cell:selected {
    -fx-background-color: #f37046;
    -fx-text-fill: #ffd8bb;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view:focused{
    -fx-background-color: transparent;
}
.text {
    -fx-font-family: 'LEMON MILK';
}

.textfield {
    -fx-background-color: #73574c;
    -fx-text-fill: #f37046;
    -fx-font-family: 'LEMON MILK';
    -fx-border-radius: 0;
    -fx-prompt-text-fill: #ffd8bb;

}


.scroll-pane {
    -fx-background-color: transparent;
}
.rectangle{
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 0, 0, 0, 0);
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 5em;
}